input:focus {
  outline-width: 0;
}

.searchTerm {
  width: 70%;
  height: 40px;
  margin: 20px 0 20px 20px;
  padding-left: 1em;
  border-radius: 8px;
}

.searchbar-button {
  background-color: #ea4640;
  border-radius: 8px;
  height: 46px;
  color: white;
}

.searchbar-button:hover,
.searchbar-button:focus {
  background: #0053ba;
}

.searchbar-button:focus {
  outline-offset: -4px;
}

.searchbar-button:active {
  transform: scale(0.99);
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .searchTerm,
  .searchbar-button {
    margin: 0;
  }
}
