.gifcard-container {
  margin: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gifcard-container:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}

.modal-title {
  color: blue;
}

.modal-img {
  max-width: 100%;
  height: auto;
}
